.grid_12.alpha.omega.game
  - unless game.password.blank?
    .lock
  .name= game.name
  .visit-link= link_to 'Visit', game
  .activity
    - if game.last_activity
      = "Last turn #{time_ago_in_words(game.last_activity)} ago"
    - else
      = "No turns taken"
