%p#notice= notice

%h1= @game.name

= render 'game_status', :game => @game

= render 'turn_status', :game => @game, :turn => @turn

= render 'turn_list', :game => @game

= link_to 'Game list', games_path
